.clickBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}




.ContextMenuDropMenu {
    display: flex;
    width: calc(200px);
    flex-direction: column;
    position: fixed;
    background: var(--popup_background);
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: calc(0.5rem - 2px);
    border: 1px solid #e5e7eb6e;
    z-index: 12;
    animation: dropmenuin 0.2s 1 ease-in-out;
    height: fit-content;
}

.hidden {
    display: none;
    animation: dropmenuout 0.2s 1 ease-in-out;

}

@keyframes dropmenuin {
    0% {
        opacity: 0;
        transform: translateY(-5px) scale(0.7);
        overflow: hidden;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        overflow: hidden;
        height: fit-content;
    }
}

@keyframes dropmenuout {
    0% {
        display: flex;
        opacity: 1;
        transform: translateY(0), scale(1);
    }

    50% {
        display: flex;
        opacity: 1;
    }


    100% {
        display: flex;
        opacity: 0;
        transform: translateY(40px), scale(0.4);
    }
}

.ContextMenuDropMenuSection {
    border-top: 1px solid #e5e7eb6e;
    border-bottom: 1px solid #e5e7eb6e;
    width: 100%;
    height: fit-content;
    padding: 4px;
    font-family: "Special";
    font-size: 14px;
}

.ContextMenuDropMenuSectionItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 32px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: default;
    color: var(--modal_text_color);
    font-size: 14px;
    font-weight: 400;
}

.ContextMenuDropMenuSectionItem:hover {
    border-radius: calc(0.5rem - 4px);
    background: var(--popup_button_bg);
}

.ContextMenuDropMenuSectionItem>a,
.ContextMenuDropMenuSectionItem>p,
.ContextMenuDropMenuSectionItem>button {}

.ContextMenuDropMenuSectionItem svg {
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
    display: flex;
    position: absolute;
    left: 12px;
}