.PopCard {
    position: fixed;
    background: var(--modal_background);
    box-shadow: 0px 36px 89px rgb(0 0 0/4%), 0px 23.3333px 52.1227px rgba(0, 0, 0, .03), 0px 13.8667px 28.3481px rgba(0, 0, 0, .024), 0px 7.2px 14.4625px rgb(0 0 0/2%), 0px 2.93333px 7.25185px rgba(0, 0, 0, .016), 0px 0.666667px 3.50231px rgba(0, 0, 0, .01);

    z-index: 12;
    border-width: 1px;
    border-radius: calc(0.5rem + 4px);
    padding: 1.5rem;
    animation: popin 0.35s 1 ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes popin {
    0% {
        opacity: 0;
        transform: scale(0.65);
        box-shadow: none;
        transform: translateY(30px);
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0px 36px 89px rgb(0 0 0/4%), 0px 23.3333px 52.1227px rgba(0, 0, 0, .03), 0px 13.8667px 28.3481px rgba(0, 0, 0, .024), 0px 7.2px 14.4625px rgb(0 0 0/2%), 0px 2.93333px 7.25185px rgba(0, 0, 0, .016), 0px 0.666667px 3.50231px rgba(0, 0, 0, .01);
        transform: translateY(0px);
    }
}

.hidden {
    display: none;
    animation: popout 0.35s 1 ease-in-out;
}

.clickBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}

@keyframes popout {
    0% {
        display: flex;
        opacity: 1;
        transform: scale(1);
        box-shadow: 0px 36px 89px rgb(0 0 0/4%), 0px 23.3333px 52.1227px rgba(0, 0, 0, .03), 0px 13.8667px 28.3481px rgba(0, 0, 0, .024), 0px 7.2px 14.4625px rgb(0 0 0/2%), 0px 2.93333px 7.25185px rgba(0, 0, 0, .016), 0px 0.666667px 3.50231px rgba(0, 0, 0, .01);

    }

    100% {
        display: flex;
        opacity: 0;
        transform: scale(0.9);
        box-shadow: none;
        transform: translateY(30px);
    }


}

.PopCardTitle {
    display: flex;
}

.PopCardTitle_text {
    font-size: 18px;
    font-family: "Special", "Inter";
    font-weight: 600;
    letter-spacing: -.025em;
    line-height: 1;
    color: var(--modal_text_color);
}

.PopCardSubTitle {
    display: flex;
    margin-top: 7px;
}

.PopCardSubTitle_text {
    margin: 0;
    font-size: 14px;
    font-family: "Special", "Inter";
    font-weight: 400;
    letter-spacing: -.025em;
    line-height: 1.25rem;
    color: var(--modal_text_color);
    opacity: 0.8;
}

.PopCardScrollCon {
    height: 100%;
    max-height: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.closebtn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    fill: var(--modal_close_button_hover);
    cursor: pointer;
}

@media(max-width: 600px) {
    .PopCard {
        height: 400px !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
    }
}