#toast_container {
    position: fixed;
    z-index: 999999;
    bottom: 20px;
    right: 20px;
}

.toast {
    margin-top: 20px;
    --conheight: 200%;
    position: relative;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 16px;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-size: 14px;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    width: 356px;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.exit {
    transform: translateX(200%);
}

@keyframes shrink {
    0% {
        margin-top: var(--margin_toast);
    }

    100% {
        margin-top: 20px;
    }
}

@keyframes shrink-bottom {
    0% {
        margin-bottom: var(--margin_toast);
    }

    100% {
        margin-bottom: 0px;
    }
}

.loading {
    align-items: center;
}

.toast svg {
    width: 18px;
    height: 18px;
}

.success {
    background: #4ee062;
    color: #fff;
}

.error {
    background: #EF665B;
    color: hsl(0, 0%, 100%);
}

.info {
    background: #5bbbef;
    color: #ffffff;
}

@keyframes exit {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(var(--conheight));
        opacity: 0.8;
    }
}


.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 500px) {
    #toast_container {
        left: 0;
        right: 0;
        bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .toast {
        max-width: 100%;
        overflow-wrap: anywhere;
    }
}