.star svg{
    width: 34px;
    height: 34px;
    fill: #ffc422;
}

.star{
    cursor: pointer;
}

.stars{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.openbtn svg{
    fill: #ffc422;
    cursor: pointer;
}

.bug svg {
    fill: #2c2c2c;
    cursor: pointer;
}

@media(prefers-color-scheme: dark){
    .bug svg {
        fill: #fff
    }
}