.container {
  min-height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.user_setting_buttons_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 1em;
  gap: 1em;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 600px;
}

.user_account_form_container {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: row;
  text-align: center;
  grid-gap: 2em;
  gap: 2em;
  /* margin: 3em; */
  justify-items: center;
  height: -moz-fit-content;
  height: 100dvh;
  /* padding-top: 0; */
  padding: 2em;
  width: 100%;
}

.user_account_form_container>form {
  width: 100%;
  align-self: center;
  height: 100%;
}

.user_account_form_profile_settings,
.user_account_form_avatar_settings {
  border-radius: 3em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  /* background-size: 186%; */
  background-position: center;
}

.user_account_form_avatar_settings_icon {
  /* max-width: 30vh; */
  /* max-height: 30vh; */
  /* border: 3px solid #d0d0d0; */
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  padding: 1vh;
  width: 5.5em;
  height: 5.5em;
  transform: scale(1.5);
}

.uploader {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1em;
}

.uploadbtns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  column-gap: 1em;
  /* background: #f1f1f1; */
  padding: 1em;
  border-radius: 1em;
  box-shadow: 1px 1px 20px 5px #efefef;
}

.user_account_form_avatar_settings_fileinput_inputbtn_hide {
  display: none;
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
  position: fixed;
  bottom: 2em;
  right: 2em;
}

/* plus sign */
.logoutBtn_sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutBtn_sign svg {
  width: 17px;
}

.logoutBtn_sign svg path {
  fill: white;
}

/* text */
.logoutBtn_text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

/* hover effect on button width */
.logoutBtn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.logoutBtn:hover .logoutBtn_sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

/* hover effect button's text */
.logoutBtn:hover .logoutBtn_text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* button click effect*/
.logoutBtn:active {
  transform: translate(2px, 2px);
}

/*Notif toggle slider*/
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}
 
/*END--- Notif toggle slider ---END*/

.acc_button {
  background: var(--big_button_background);
  outline: none;
  border: 2px solid var(--big_button_border);
  border-radius: 20px;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5%;
  justify-content: center;
  cursor: pointer;
  box-shadow: 4px 3px 4px 0px #e8e8e8;
  font-size: 13px;
transition: 0.4s all;
}

.acc_button_red {
  outline: 3px #ff2d2d solid;
}



.acc_button .acc_button_text {
  color: rgb(31, 31, 31);
  font-weight: 600;
  transition: 400ms;
}

.acc_button svg {
  fill: #9c9c9c;
  transition: 400ms;
}

.acc_button:hover {
  background-color: var(--big_button_background_hover);
  /* border-color: #000; */
  /* border: 1px solid #000;*/
}

.acc_button:hover .acc_button_text {
  color: #ffffff;
}

.acc_button:hover svg {
  fill: #ffffff;
}

.default_settings_modal_container_usrname_toggles {
  display: grid;
    grid-template-columns: 4fr 1fr;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: #000000;
    font-weight: 500;
    flex-wrap: wrap;
    align-content: center;
    text-align: left;
    justify-items: stretch;
}



@media (max-width: 800px) {
  .container {
    min-height: 100dvh;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
  }

  .gridcontainer,
  .links {
    grid-template-columns: auto;
    margin-left: 10vh;
    margin-right: 10vh;
    justify-content: center;
  }

  .griditem {
    padding: 30px 20px;
  }

  .user_account_form_container {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .user_account_form_container>form {
    min-height: fit-content;
  }

  .user_account_form_profile_settings,
  .user_account_form_avatar_settings {
    border-radius: 1em;
    padding: 0;
  }

  .uploadbtns {
    grid-template-columns: 1fr;
    row-gap: 1em;
    box-shadow: none;
    border: 2px solid black;
  }

  .accinfo {
    text-align: left;
  }

  .accinfo h2 {
    text-align: center;
    text-decoration: none;
    color: #4f4f4f;
  }

  

  .user_setting_buttons_grid {
    grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme: dark) {

  .acc_button {
    background: var(--big_button_background);
    border: 2px solid var(--big_button_border);
    box-shadow: 4px 3px 4px 0px #1c1c1c;
  }

  .default_settings_modal_container_usrname_toggles{
    color: #fff;
  }

  .acc_button_red {
    outline: 3px #ff2d2d solid;
  }

  .acc_button .acc_button_text {
    color: rgb(149, 149, 149);
  }

  .acc_button svg {
    fill: #9c9c9c;
  }


  .default_settings_modal_container_usrname_block {
    background: #1f1f1f;
    border: 3px solid #000;
    box-shadow: 5px 8px 5px 1px #000;
  }

}