.container {
  min-height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
}


.user_setting_buttons_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 1em;
  gap: 1em;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
}

.default_settings_modal_container {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background: #000000e8;
}

.default_settings_modal_container_usrname_block {
  background: #000;
  border-radius: 2em;
  padding: 2em;
  min-height: 10em;
  width: 30em;
  display: flex;
  border: 3px solid #dbdbdb;
  /* box-shadow: 0px 0px 10px 4px #eee; */
  z-index: 20;
  justify-content: flex-end;
  color: #fff;
}



.default_settings_modal_container_usrname_block form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  justify-items: start;
  width: 100%;
}

.default_settings_modal_container_usrname_edit_form {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.2em;
}

.default_settings_modal_container_usrname_block form input {
  border: none;
  padding: 1em;
  border-radius: 0.5em;
  background: rgb(34, 34, 34);
  color: #ffffff;
  width: 100%;
  height: 100%;
  outline: none;
}

.default_settings_modal_container_usrname_block form input::placeholder {
  color: #ffffff;
}

.default_settings_modal_container_usrname_block form input:focus-visible {
  outline: 2px solid #4f4f4f;
}

.default_settings_modal_container_userinfopannel .default_settings_modal_container_usrname_block {
  margin: 0;
}


.default_settings_modal_container_usrclose_btn {
  position: absolute;
  background: none;
  border: none;
  margin: none;
}

.default_settings_modal_container_usrclose_btn svg {
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  fill: #fff;
}

.default_settings_modal_container_usrclose_btn svg:hover {
  fill: #d3d3d3;
}


.user_account_form_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  text-align: center;
  grid-gap: 2em;
  gap: 2em;
  /* margin: 3em; */
  justify-items: center;
  height: -moz-fit-content;
  height: 100dvh;
  /* padding-top: 0; */
  padding: 2em;
  width: 100%;
}

.user_account_form_container > form {
  width: 100%;
  align-self: center;
  height: 100%;
  max-height: 90vh;
}

.user_account_form_profile_settings,
.user_account_form_avatar_settings {
  border-radius: 3em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 3vh 2%;
  align-items: center;
  justify-content: center;
  gap: 4em;
  /* background-size: 186%; */
  background-position: center;
}

.user_account_form_avatar_settings_icon {
  /* max-width: 30vh; */
  /* max-height: 30vh; */
  /* border: 3px solid #d0d0d0; */
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  padding: 1vh;
  width: 5.5em;
  height: 5.5em;
  transform: scale(1.5);
}

.uploader {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1em;
}

.uploadbtns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  column-gap: 1em;
  /* background: #f1f1f1; */
  padding: 1em;
  border-radius: 1em;
  box-shadow: 1px 1px 20px 5px #efefef;
}

.user_account_form_avatar_settings_fileinput_inputbtn_hide {
  display: none;
}


.buttonred {
  background-color: #eb2323 !important;
}

.buttonred::after {
  background-color: #f63b3b !important;
}

.buttongreen {
  background-color: #1d926f !important;
}

.buttongreen::after {
  background-color: #3bb994 !important;
}

.buttongray {
  background-color: #4f4f4f !important;
}

.buttongray::after {
  background-color: #919191 !important;
}

.uploader .buttondefault {
  width: 100% !important;
  overflow: hidden;
}

.buttondefault {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s, transform 0.3s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
}

.buttondefault:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.buttondefault:main,
.buttondefault:focus {
  user-select: auto;
}

.buttondefault:hover:not(:disabled) {
  filter: brightness(1.1);
  transform: scale(1.02);
}

.buttondefault:disabled {
  cursor: not-allowed;
}

.buttondefault:active:after {
  border-width: 0 0 0px;
}

.buttondefault:active {
  padding-bottom: 10px;
}




.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
  position: fixed;
  bottom: 2em;
  right: 2em;
}

/* plus sign */
.logoutBtn_sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutBtn_sign svg {
  width: 17px;
}

.logoutBtn_sign svg path {
  fill: white;
}

/* text */
.logoutBtn_text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

/* hover effect on button width */
.logoutBtn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.logoutBtn:hover .logoutBtn_sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

/* hover effect button's text */
.logoutBtn:hover .logoutBtn_text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* button click effect*/
.logoutBtn:active {
  transform: translate(2px, 2px);
}


.switch {
  --circle-dim: 1.4em;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5aeae;
  transition: 0.4s;
  border-radius: 30px;
}

.slidercard {
  position: absolute;
  content: "";
  height: var(--circle-dim);
  width: var(--circle-dim);
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  transition: 0.4s;
  pointer-events: none;
}

.slidercardface {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  perspective: 1000px;
  border-radius: 50%;
  transition: 0.4s transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slidercardfront {
  background-color: #dc3535;
  fill: #fff;
}

.slidercardback {
  background-color: #379237;
  fill: #fff;
  transform: rotateY(180deg);
}

input:checked ~ .slidercard .slidercardback {
  transform: rotateY(0);
}

input:checked ~ .slidercard .slidercardfront {
  transform: rotateY(-180deg);
}

input:checked ~ .slidercard {
  transform: translateX(1.5em);
}

input:checked ~ .slider {
  background-color: #9ed99c;
}

.acc_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.acc_button_red {
  outline: 3px #ff2d2d solid;
}

.acc_button .acc_button_text {
  color: rgb(149, 149, 149);
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.acc_button svg {
  fill: #9c9c9c;
  transition: 400ms;
}

.acc_button:hover {
  background-color: transparent;
}

.acc_button:hover .acc_button_text {
  color: #000000;
}

.acc_button:hover svg {
  fill: #000000;
}



@media (max-width: 800px) {
  .container {
    min-height: 100dvh;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 10dvh;
  }

  .gridcontainer,
  .links {
    grid-template-columns: auto;
    margin-left: 10vh;
    margin-right: 10vh;
    justify-content: center;
  }

  .griditem {
    padding: 30px 20px;
  }

  .user_account_form_container {
    grid-template-columns: 1fr;
    margin: 1em;
    padding: 0;
  }

  .user_account_form_container > form {
    min-height: fit-content;
  }

  .user_account_form_profile_settings,
  .user_account_form_avatar_settings {
    border-radius: 1em;
    padding: 0;
  }

  .uploadbtns {
    grid-template-columns: 1fr;
    row-gap: 1em;
    box-shadow: none;
    border: 2px solid black;
  }

  .accinfo {
    text-align: left;
  }

  .accinfo h2 {
    text-align: center;
    text-decoration: none;
    color: #4f4f4f;
  }

  .default_settings_modal_container_usrname_block {
    width: 100%;
    margin: 1em;
  }

  .accmanagemt_btns {
    grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  .acc_button:hover .acc_button_text {
    color: #ffffff;
  }

  .acc_button:hover svg {
    fill: #ffffff;
  }
}
