.main {
    min-height: 100dvh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main>button {
    background-color: darkcyan;
    color: rgb(233, 233, 233);
    padding: 2vh;
    border: 3px solid darkcyan;
    border-radius: 10px;
    font-weight: 600;
}

.main>button:hover {
    background-color: rgba(0, 139, 139, 0.749);
}

.loginbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    border-radius: var(--btn_border_radius);
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}


@media (max-width: 600px) {
    .loginbox {
        width: 80%;
    }
}

.login_box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    width: 100%;
}

.formcontainer {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgb(16, 16, 16);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    box-shadow: 0px 8px 8px 6px #1e1e1e;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.form {
    margin-top: 1.5rem;
}

.inputgroup {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.inputgroup label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.inputgroup input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgb(0, 0, 0);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
}

.inputgroup input:focus {
    border-color: var(--main_btn_color_action);
}

.forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
    text-decoration: underline var(--main_btn_color);
}

.sign {
    display: block;
    width: 100%;
    background-color: var(--main_btn_color);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    cursor: pointer;
}

.socialmessage {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
}

.socialmessage .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
    cursor: pointer;
}

.socialicons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
}

.socialicons .icon:hover svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #e6e6e6;
}

.signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.tandccon {
    color: #c6c6c6;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 15px 10px;
    align-items: center;
    text-align: left;
}

.legalbtn {
    text-decoration: underline;
}

@media (max-width: 900px) {

    .login_box {
        height: 100dvh;

    }
}



.cbx {
    position: relative;
    top: 1px;
    width: 27px;
    height: 27px;
    border: 1px solid var(--main_btn_color);
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;
}

.cbx:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 8px;
    width: 7px;
    height: 14px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}

.lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.cbx2:checked~.cbx {
    border-color: transparent;
    background: var(--main_btn_color_action);
    animation: jelly 0.6s ease;
}

.cbx2:checked~.cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.cntr {
    position: relative;
}

@keyframes jelly {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}

.hiddenxsup {
    display: none !important;
}

.warn::-webkit-scrollbar {
    display: block;
}

.warningsvg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #FEE2E2;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
}

.warningsvg svg {
    color: #DC2626;
    width: 1.5rem;
    height: 1.5rem;
}

@media(max-width: 430px)
{
    .warningsvg{
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    .formcontainer {
        box-shadow: 0px 8px 8px 6px #f1f1f1;
        background: linear-gradient(45deg, white 30%, var(--main_btn_color));
        color: #000;
    }

    .tandccon,
    .forgot a,
    .signup a {
        color: #7c7c7c;
    }

    .socialicons .icon svg {
        fill: #000;
    }

    .socialicons .icon:hover svg {
        fill: #404040;
    }

    .inputgroup input {
        background: #fff;
        border-color: #c1c1c1;
        color: #000;
    }
}


.pwinput{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.pwinput input {
    padding-right: 2.3em;
}

.pwinput svg {
    position: absolute;
    right: 5px;
    fill: var(--main_btn_color);
    transform: scale(0.7);
    cursor: pointer;
}