.container {
    width: 100%;
    height: 100dvh;
    padding: 0;
    margin: 0;
    position: relative;
}

.header {
    width: 100%;
    min-height: 30dvh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_align_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pages {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: -moz-fit-content;
    width: 90%;
    /* min-width: 35%; */
    padding: 2em;
    height: -moz-fit-content;
    height: fit-content;
    overflow-y: scroll;
    flex-wrap: wrap;
    max-height: 50dvh;
    border-radius: 1em;
    /* margin: 1em; */
    justify-content: center;
}

.deletingpage {
    background: #bababa;
}

.selected {
    border: 2px dashed #ff2f2f !important;
    background: transparent !important;
    color: #000000 !important;
    transition: 0.2s all;
    text-decoration: line-through;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    /* height: fit-content; */
    gap: 5px;
    justify-content: space-between;
    padding: 10px;
    border-radius: var(--btn_border_radius);
    border: 2px solid var(--big_button_border);
    cursor: pointer;
    background: var(--big_button_background);
}

.page_title {
    font-weight: 600;
    font-size: 16px;
}

.page_icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
}

.page_deletebtn {
    background: none;
    border: none;
    display: flex;
    border-radius: 50%;
    /* padding: 5px; */
    /* width: 5em; */
    cursor: pointer;
    fill: #ff2f2f;
    justify-content: center;
    align-items: center;
    /* height: fit-content;*/
}

.fixeddeletebtn {
    position: fixed;
    bottom: 2em;
    left: 2em;
    background-color: #f61c1c !important;
}

.fixeddeletebtn::after {
    background-color: #ff2f2f !important;
}

@media(prefers-color-scheme: dark) {
    .page {
        background: var(--big_button_background);
        color: var(--big_button_text);
    }

    .pages {
        background: transparent;
    }

    .selected {
        color: #fff !important;
        ;

    }
}