.container {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  margin-top: 10dvh;
  padding: 0;
}

.popOverShare {
  position: absolute;
  top: -12vh;
}

.create {
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1 1 0%;
}

.create::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.create::-webkit-scrollbar-track {
  background: #dedede;
}

/* Handle */
.create::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: rgb(52, 228, 255);
}

/* Handle on hover */
.create::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 225, 255);

}

.creategrid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3em;
  word-break: break-word;
  min-height: 100dvh;
}

.header {
  width: 100%;
  height: 40dvh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.titleinput {
  /* min-width: 40%; */
  width: 100%;
  resize: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  border: none;
  /* border-radius: 10px; */
  padding: 10px;
  /* font-family: monospace; */
  font-size: 40px;
  line-height: 1.5;
  resize: none;
  /*
  -webkit-text-shadow: 0 0 5px #000000;/*
  /* text-shadow: 0 0 5px #9f86ff; */
  text-align: center;
  font-weight: 700;
}

.titleinput:hover {
  cursor: text;
}

.titleinput::placeholder {
  text-shadow: none;
  color: #8f8f8f;
  font-weight: 600;
}


.containererror {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.containererror>h1 {
  padding: 1em;
}


.title {
  width: 100%;
  position: relative;
  height: 40dvh;
  background: linear-gradient(20deg, #00e1ff, #c29fff, #03a9f4);
  ;
  background-size: 100%;
}

.titleeditorcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 80%;
  justify-content: center;

}

.savetitlebtn {
  background: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  fill: #ff6c6c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}

.savetitlebtn:hover {
  fill: #3bb994;
}

.title img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.headerstuff {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


.title h1 {
  font-size: 4em;
  /* text-align: center; */
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  word-break: break-all;

}





.shareModal_link_text {
  padding: 1em;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: inset 0px 0px 10px 2px #ececec;
  overflow-x: scroll;
  overflow-y: hidden;
  color: #000;
}

.shareModal_link_text::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}



.buttonred {
  background-color: #eb2323 !important;
}

.buttonred::after {
  background-color: #f63b3b !important;
}

.buttongreen {
  background-color: #1d926f !important;
}

.buttongreen::after {
  background-color: #3bb994 !important;
}

.buttongray {
  background-color: #4f4f4f !important;
}

.buttongray::after {
  background-color: #919191 !important;
}

.uploader .buttondefault {
  width: 100% !important;
  overflow: hidden;
}

.buttondefault {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s, transform 0.3s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
}

.buttondefault:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.buttondefault:main,
.buttondefault:focus {
  user-select: auto;
}

.buttondefault:hover:not(:disabled) {
  filter: brightness(1.1);
  transform: scale(1.02);
}

.buttondefault:disabled {
  cursor: not-allowed;
}

.buttondefault:active:after {
  border-width: 0 0 0px;
}

.buttondefault:active {
  padding-bottom: 10px;
}

@media(max-width: 900px) {
  .headerstuff {
    padding: 1em;
  }

  .title h1 {
    font-size: 2em;
  }
}


@media(max-width: 800px) {
  .create {
    height: 100%;
  }
}

.title_buttons {
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.title_buttons_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: none;
  border-radius: 5px;
  padding: 3px;
  fill: #00bcd4;
  cursor: pointer;
}

.customfileupload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customfileupload span {
  display: flex;
}

.finput {
  display: none;
}

.title_buttons_btn_usrSettings_btn {
  fill: #ff6c6c;
}


@media (prefers-color-scheme: dark) {
  .create {
    color: #fff;
  }
}



.autosaveloader {
  z-index: 99;
  position: fixed;
  border-radius: 50%;
  border-top: 16px rgba(0, 225, 255, 0.75) solid;
  border-left: 16px rgba(0, 225, 255, 0.25) solid;
  border-bottom: 16px rgba(0, 225, 255, 0.25) solid;
  border-right: 16px rgba(0, 225, 255, 0.25) solid;
  top: 1em;
  right: 1em;
  animation: spSlices 1s infinite linear;
}

@keyframes spSlices {
  0% {
    border-top: 16px rgba(0, 225, 255, 0.75) solid;
    border-right: 16px rgba(0, 225, 255, 0.25) solid;
    border-bottom: 16px rgba(0, 225, 255, 0.25) solid;
    border-left: 16px rgba(0, 225, 255, 0.25) solid;
  }

  25% {
    border-top: 16px rgba(0, 225, 255, 0.25) solid;
    border-right: 16px rgba(0, 225, 255, 0.75) solid;
    border-bottom: 16px rgba(0, 225, 255, 0.25) solid;
    border-left: 16px rgba(0, 225, 255, 0.25) solid;
  }

  50% {
    border-top: 16px rgba(0, 225, 255, 0.25) solid;
    border-right: 16px rgba(0, 225, 255, 0.25) solid;
    border-bottom: 16px rgba(0, 225, 255, 0.75) solid;
    border-left: 16px rgba(0, 225, 255, 0.25) solid;
  }

  75% {
    border-top: 16px rgba(0, 225, 255, 0.25) solid;
    border-right: 16px rgba(0, 225, 255, 0.25) solid;
    border-bottom: 16px rgba(0, 225, 255, 0.25) solid;
    border-left: 16px rgba(0, 225, 255, 0.75) solid;
  }

  100% {
    border-top: 16px rgba(0, 225, 255, 0.75) solid;
    border-right: 16px rgba(0, 225, 255, 0.25) solid;
    border-bottom: 16px rgba(0, 225, 255, 0.25) solid;
    border-left: 16px rgba(0, 225, 255, 0.25) solid;
  }
}



.abookmark {
  --icon-size: 24px;
  --icon-secondary-color: rgb(255, 255, 255);
  --icon-hover-color: rgb(255, 216, 99);
  --icon-primary-color: gold;
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;
}

.abookmark input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.abookmark .bookmark {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.bookmark::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.bookmark::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
}

/* actions */

.abookmark:hover .bookmark {
  fill: var(--icon-hover-color);
}

.abookmark input:checked+.bookmark::after {
  -webkit-animation: circles var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circles var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

.abookmark input:checked+.bookmark svg {
  transform: rotate(320deg);
}


.abookmark input:checked+.bookmark {
  fill: var(--icon-primary-color);
  -webkit-animation: bookmark var(--icon-anmt-duration) forwards;
  animation: bookmark var(--icon-anmt-duration) forwards;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.abookmark input:checked+.bookmark::before {
  -webkit-animation: circle var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circle var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

@-webkit-keyframes bookmark {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes bookmark {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}.buttonlabel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonlabel:hover > .buttonlabel_label {
  display: block;
}

.buttonlabel_label {
  display: none;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  background: #ffffffad;
  width: fit-content;
  white-space: nowrap;
  color: #000000dc;
  font-size: 12px;
  font-weight: 100;

  /* Adjustments to prevent going off-screen */
  left: 50%; /* Position at the horizontal center */
  transform: translateX(-50%); /* Move label back by half its width */

  /* Optional: Add padding to the top to create space between button and label */
  top: calc(-30px - 1em - 5px);

  /* Arrow styles */
  
}

.buttonlabel_label:after {
  content: "";
  position: absolute;
  bottom: -9.9px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ffffffad transparent;
}
