.container {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  margin-top: 10dvh;
  padding: 0;
}

.popOverShare{
  position: absolute;
  top: -12vh;
}

.create{
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1 1 0%;
}
.create::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.create::-webkit-scrollbar-track {
  background: #dedede;
}

/* Handle */
.create::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: rgb(52, 228, 255);
}

/* Handle on hover */
.create::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 225, 255);
  
}

.creategrid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3em;
  word-break: break-word;
  min-height: 100dvh;
}

.header {
  width: 100%;
  height: 40dvh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.titleinput {
  /* min-width: 40%; */
  width: 100%;
  resize: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  border: none;
  /* border-radius: 10px; */
  padding: 10px;
  /* font-family: monospace; */
  font-size: 40px;
  line-height: 1.5;
  resize: none;/*
  -webkit-text-shadow: 0 0 5px #000000;/*
  /* text-shadow: 0 0 5px #9f86ff; */
  text-align: center;
  font-weight: 700;
}

.titleinput::placeholder {
  text-shadow: none;
  color: #8f8f8f;
  font-weight: 600;
}


.containererror {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.containererror>h1 {
  padding: 1em;
}

.backbutton {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #000;
  color: white;
}

.emojidiv{
  overflow: scroll;
  max-height: 30dvh;
}

.emoji_button{
  cursor: pointer;
  background: #ebebeb;
  padding: 2px;
  border-radius: 5px;
  border: none;
}

.backbutton>svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
  fill: white;
}

.backbutton:hover>svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.backbutton:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}



.title {
  width: 100%;
  position: relative;
  height: 40dvh;
  background: linear-gradient(20deg,#00e1ff,#c29fff,#03a9f4);;
  background-size: 100%;
}

.title img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.headerstuff {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


.title h1 {
  font-size: 4em;
  /* text-align: center; */
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  word-break: break-all;

}




.sharemodal_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100dvh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.shareModal {
  background: #ffffff;
  border-radius: 1em;
  padding: 3em;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 50%;
}

.shareModal_link {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1em;
}

.shareModal_link_text {
  padding: 1em;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: inset 0px 0px 10px 2px #ececec;
  overflow-x: scroll;
  overflow-y: hidden;
}

.shareModal_link_text::-webkit-scrollbar{
  width: 1px;
  height: 2px;
}

.shareModal_link_btn {
  background: linear-gradient(45deg, #00BCD4, #2196F3);
  border: none;
  border-radius: 5px;
  /* width: fit-content; */
  /* height: fit-content; */
  /* padding: 1em; */
  cursor: pointer;
  fill: #fff;
}

.shareModal_input{
  background: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 2px #ededed;
    padding: 1em;
}



.buttonred {
  background-color: #eb2323 !important;
}

.buttonred::after {
  background-color: #f63b3b !important;
}

.buttongreen {
  background-color: #1d926f !important;
}

.buttongreen::after {
  background-color: #3bb994 !important;
}

.buttongray {
  background-color: #4f4f4f !important;
}

.buttongray::after {
  background-color: #919191 !important;
}

.uploader .buttondefault {
  width: 100% !important;
  overflow: hidden;
}

.buttondefault {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s, transform 0.3s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 200px;
}

.buttondefault:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.buttondefault:main,
.buttondefault:focus {
  user-select: auto;
}

.buttondefault:hover:not(:disabled) {
  filter: brightness(1.1);
  transform: scale(1.02);
}

.buttondefault:disabled {
  cursor: not-allowed;
}

.buttondefault:active:after {
  border-width: 0 0 0px;
}

.buttondefault:active {
  padding-bottom: 10px;
}

@media(max-width: 900px) {
  .headerstuff {
    padding: 1em;
  }

  .title h1 {
    font-size: 2em;
  }
}


@media(max-width: 800px){
  .create{
    height: 100%;
  }
}

.title_buttons{
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.title_buttons_btn{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: none;
    border-radius: 5px;
    padding: 3px;
    fill: #00bcd4;
    cursor: pointer;
}

.customfileupload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customfileupload span {
  display: flex;
}

.finput {
  display: none;
}

.title_buttons_btn_usrSettings_btn{
  fill: #ff6c6c;
}


@media (prefers-color-scheme: dark) {
  .create{
    background: #000;
    color: #fff;
  }
}

