.emojigrid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 35dvh;

    /*gap: 10px;*/
    justify-content: space-between;
    align-items: center;
}

.icon {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: none;
    cursor: pointer;
    transform: scale(0.5);
    margin: -15px;
}

.emojiIcon {
    display: flex;
    cursor: pointer;
    width: 64px;
    height: 64px;
    user-select: none;
    pointer-events: none;
    cursor: pointer;
}



.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.categoryButton {
    background: var(--modal_button_bg);
    padding: 7px;
    border-radius: 7px;
    border: 2px solid var(--modal_button_border);
    cursor: pointer;
    color: var(--modal_button_text);
}

.active {
    background: var(--modal_button_bg_hover);
}