.emojigrid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 35dvh;
    
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.icon{
    font-size: 24px;
    background: var(--big_button_background);
    border: 3px solid var(--big_button_border);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.icon:hover{
    border: 3px solid var(--big_button_border_hover_alt);
}

.categories{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.categoryButton{
    background: var(--big_button_background);
    padding: 5px;
    border-radius: 7px;
    border: 2px solid var(--big_button_border);
    cursor: pointer;
}

.active{
    background: var(--big_button_border_hover_alt);
}