.emojigrid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 35dvh;
    
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.icon {
    border: 3px solid var(--big_button_border);
    border-radius: 5px;
    padding: 5px;
    background: var(--big_button_background);
    cursor: pointer;
}
.emojiIcon{
    display: flex;
    cursor: pointer;
    width: 20px;
    height: 20px;
    user-select: none;
    pointer-events: none;
    cursor: pointer;
}



.icon:hover{
    border: 3px solid var(--big_button_border_hover_alt);
}

.categories{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.categoryButton{
    background: var(--big_button_background);
    padding: 5px;
    border-radius: 7px;
    border: 2px solid var(--big_button_border);
    cursor: pointer;
    color: var(--big_button_text);
}

.active{
    background: var(--big_button_border_hover_alt);
}