:root {
  --main_color: #00bcd4;
  --btn_border_radius: 5px;
  --main_btn_color: #00bcd4;

  --main_btn_color_action: #15cce4;

  --big_button_border: rgba(201, 201, 204, .48);
  --big_button_text: #707684;
  --big_button_background: #fff;
  --big_button_background_hover: #000;
  --big_button_border_hover_alt: #b7b7b7;
  --background: #eeeeee;

  --desktophidemenu_bg: #e2e2e2;
  --desktophidemenu_bg_hover: #c2c2c2;
  --root_boxshadow: #e5e5e5;
  --itemoption_hover: #ffffff;
  --itemoption_active: #cecece1a;
  --btn1_hover: #eeeeee;
  --itemoption_hover_drag: #ff7777;
  --createpage_txt: #3d3d3d;
  --itemoption_textcolor: #19171199;
  --itemoption_fillcolor: rgba(55, 53, 47, .35);

  --modal_color-0-c42e25a8: #000000;
  --modal_color-1-ea5ca4f1: #ffffff;
  --modal_color-2-c86cffcc: #9d9d9d;
  --modal_color-3-42429cc0: #dfdfdf;
  --modal_color-4-8860c804: rgb(227, 227, 227);
  --modal_color-5-32f42df1: #8e8e8e;
  --modal_color-6-42f923f0: #4f4f4f;
  --modal_color-7-0c0f90f8: #333333;
  --modal_color-13-228c15be: #1899d6;
  --modal_color-14-a7091aca: #1cb0f6;
  --modal_color-16-af97a36b: rgba(201, 201, 204, .48);
  --modal_color-17-4fcbb4ba: #e8e8e8;
  --modal_color-18-c8f98051: #707684;
  --modal_color-19-8243e20a: #ff2d2d;
  --modal_color-22-a09b1904: #50545d;
  --modal_color-23-7309aa07: #1f1f1f;
  --modal_color-24-3f5683d9: rgb(34, 34, 34);
  --modal_color-25-1133eaba: #353535;
  --modal_color-26-3e9fea21: #1c1c1c;
  --modal_color-27-e4ad4b96: rgb(149, 149, 149);
  --modal_color-28-8fb448ab: #d3d3d3;
  --modal_color-29-93b283f1: #eeeeee;
  --modal_color-30-88babb29: hsl(214, 97%, 59%);
  --modal_button_bg: none;
  --modal_button_border: 1px rgba(201, 201, 204, .48) solid;
  --modal_button_bg_hover: #000;
  --modal_button_text_hover: #ffffff;
  --modal_button_bxshdw_hover: transparent;

  --title_input_color: #ffffff;
  --title_input_color_plcholder: #8f8f8f;
  --title_background: linear-gradient(20deg, #607d8b, #fff, #607d8b);

  --title_buttons_fill: #fff;
  --title_buttons_background: #ffffff57;

  --buttonlabel_label_background: #0d2342;
  --buttonlabel_label_color: #ffffff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --big_button_background: #353535;
    --big_button_border: #4f4f4f;
    --big_button_border_hover_alt: #2d2d2d;
    --big_button_text: #707684;
    --create_text_color: #fff;
    --desktophidemenu_bg: #464646;
    --desktophidemenu_bg_hover: #040404;
    --root_boxshadow: #1d1d1d;
    --itemoption_hover: #000000;
    --itemoption_active: #0000001a;
    --btn1_hover: #282828;
    --itemoption_hover_drag: #ff7777;
    --createpage_txt: #3d3d3d;
    --itemoption_textcolor: #ffffff99;
    --itemoption_fillcolor: #ffffff99;
    --modal_color-0-c42e25a8: #ffffff;
    --modal_color-1-ea5ca4f1: #1f1f1f;
    --modal_color-2-c86cffcc: #9d9d9d;
    --modal_color-3-42429cc0: #000000;
    --modal_color-4-8860c804: rgb(227, 227, 227);
    --modal_color-5-32f42df1: #8e8e8e;
    --modal_color-6-42f923f0: #4f4f4f;
    --modal_color-7-0c0f90f8: #333333;
    --modal_color-13-228c15be: #1899d6;
    --modal_color-14-a7091aca: #1cb0f6;
    --modal_color-16-af97a36b: rgba(201, 201, 204, .48);
    --modal_color-17-4fcbb4ba: #e8e8e8;
    --modal_color-18-c8f98051: #707684;
    --modal_color-19-8243e20a: #ff2d2d;
    --modal_color-22-a09b1904: #50545d;
    --modal_color-23-7309aa07: #1f1f1f;
    --modal_color-24-3f5683d9: rgb(34, 34, 34);
    --modal_color-25-1133eaba: #353535;
    --modal_color-26-3e9fea21: #1c1c1c;
    --modal_color-27-e4ad4b96: rgb(149, 149, 149);
    --modal_color-28-8fb448ab: #d3d3d3;
    --modal_color-29-93b283f1: #eeeeee;
    --modal_color-30-88babb29: hsl(214, 97%, 59%);
    --modal_button_bg: #353535;
    --modal_button_border: none;
    --modal_button_bg_hover: #000;
    --modal_button_text_hover: #fff;
    --modal_button_bxshdw_hover: #1c1c1c;

  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

.main {
  display: flex;

}

body {
  color: #000;
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}



@media(max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;

  }
}

@font-face {
  font-family: "Anton";
  src: url('../fonts/Anton-Regular.ttf');
}

@font-face {
  font-family: "Ab";
  src: url('../fonts/Abelone-FREE.otf');
}

@font-face {
  font-family: "Chairbomb";
  src: url('../fonts/CherryBombOne-Regular.ttf');
}

@font-face {
  font-family: "Mori";
  font-display: swap;
  src: url('../fonts/MoiraiOne-Regular.ttf');
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url('../fonts/gotham-bold-webfont.woff');
}


/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dedede;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: rgb(157, 212, 220);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 225, 255);

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #fff;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .tc-toolbox {
    color-scheme: light;
    color: #000;
  }

  .ce-toolbar__settings-btn,
  .ce-toolbar__plus {
    color: rgb(124, 124, 124);
  }

  .ce-inline-toolbar {
    color: #000;
  }
}


.tut {
  animation: tutbounce 1.5s ease-in-out infinite;
  padding: 10px;
  border-radius: 5px;
  background: #cbcbcb9d !important;
  text-decoration: underline;
  text-decoration-color: rgb(134, 176, 255);
  text-decoration-thickness: 2px;
  color: #fff !important;
}

@keyframes tutbounce {

  0%,
  100% {
    border: 2px solid rgb(255, 72, 72);
  }

  50% {
    border: 2px solid rgb(0, 247, 255);
  }
}

::selection {
  background-color: #ff47f3;
}

.Toastify__toast {
  border-radius: 10px !important;
}

.textLayer span::selection,
.textLayer br::selection {
  background-color: rgba(255, 23, 240, 0.611);
}

.react-pdf__Page__annotations,
.annotationLayer {
  display: none;
}

.react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.react-pdf__Page__canvas__first .react-pdf__Page__canvas {
  border-radius: 5px 5px 3px 3px;
}

.react-pdf__Page__canvas__last .react-pdf__Page__canvas {
  border-radius: 3px 3px 5px 5px;
}

.react-pdf__Page__canvas {
  border-radius: 3px;
}