:root {

  --background: #f9f9f9;
  --big_button_background: #f2f2f2;
  --big_button_border: #d5d5d5;
  --big_button_border_hover_alt: #a8a8a8;
  --big_button_text: #7d7d7d;
  --desktophidemenu_bg: #ffffff;
  --desktophidemenu_bg_hover: #c0c0c0;
  --boxshadow_primary: #f3f3f39e;
  --page_list_item_hover: #d8d8d8;
  --page_list_item_active: #00000029;
  --page_list_item_icons_background_hover: #c4c4c4;
  --page_list_item_hover_drag: #ff7777;
  --create_new_page_btn_text: #929292;
  --page_list_item_icons: #00000099;
  --page_list_item_fillcolor: #00000099;
  --modal_text_color: #000;
  --modal_button_svg: #707684;
  --modal_background: #ffffff;
  --modal_button_text: #707684;
  --modal_close_button_hover: #000000;
  --modal_border_color: #fff;
  --modal_button_bg: #eaeaea;
  --modal_button_border: none;
  --modal_button_bg_hover: #000000;
  --modal_button_text_hover: #fff;
  --modal_button_bxshdw_hover: #e2e2e2;
  --userinfo_section_bordertop: #b8b8b8;
  --user_option_text: #464646;


  --title_input_color: #ffffff;
  --title_input_color_plcholder: #8f8f8f;
  --title_background: linear-gradient(20deg, #607d8b, #fff, #607d8b);
  --title_buttons_fill: #fff;
  --title_buttons_background: #ffffff57;
  --editor_text: #000;
  --buttonlabel_label_background: #0d2342;
  --buttonlabel_label_color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*Main page*/
    --background: #202020;
    /*Modal btn 1 (Redundant)*/
    --big_button_background: #353535;
    --big_button_border: #4f4f4f;
    --big_button_border_hover_alt: #2d2d2d;
    --big_button_text: #707684;
    /*Page selector (item.js)*/
    --desktophidemenu_bg: #464646;
    --desktophidemenu_bg_hover: #040404;
    --boxshadow_primary: #1d1d1d;
    --page_list_item_hover: #000000;
    --page_list_item_active: #0000001a;
    --page_list_item_icons_background_hover: #282828;
    --page_list_item_hover_drag: #ff7777;
    --create_new_page_btn_text: #989898;
    --page_list_item_icons: #ffffff99;
    --page_list_item_fillcolor: #ffffff99;
    /*Modal*/
    --modal_text_color: #ffffff;
    --modal_background: #1f1f1f;
    --modal_border_color: #000000;
    --modal_input_placeholder_color: #8e8e8e;
    --modal_close_button_hover: #333333;
    --modal_s2ndry_btn_bxshdw_unused: #e8e8e8;
    --modal_button_text: #707684;
    --modal_button_svg: #50545d;
    --modal_temp_loader_bg: #eeeeee;
    --modal_button_bg: #353535;
    --modal_button_border: none;
    --modal_button_bg_hover: #000;
    --modal_button_text_hover: #fff;
    --modal_button_bxshdw_hover: #1c1c1c;
    /*Editor*/
    --editor_text: #fff;
    /*User profile thing*/
    --userinfo_section_bordertop: #2d2d2d;

    --user_option_text: #868686;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.main {
  display: flex;
}

body {
  color: #000;
  background: var(--background);
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}

@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton-Regular.ttf");
}

@font-face {
  font-family: "Ab";
  src: url("../fonts/Abelone-FREE.otf");
}

@font-face {
  font-family: "Chairbomb";
  src: url("../fonts/CherryBombOne-Regular.ttf");
}

@font-face {
  font-family: "Mori";
  font-display: swap;
  src: url("../fonts/MoiraiOne-Regular.ttf");
}

@font-face {
  font-family: "Inter Tight";
  font-display: swap;
  src: url("../fonts/InterTight-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/gotham-bold-webfont.woff");
}

@font-face {
  font-family: "mons";
  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubick";
  font-display: swap;
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubick-I";
  font-display: swap;
  src: url("../fonts/Rubik-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Nunto";
  font-display: swap;
  src: url("../fonts/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Special";
  font-display: swap;
  src: url("../fonts/specialfont.woff2");
}

@font-face {
  font-family: "Int";
  font-display: swap;
  src: url("../fonts/int.woff2");
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 1px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 999999px;
  background: rgb(126, 126, 126);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(111, 111, 111);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #fff;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .tc-toolbox {
    color-scheme: light;
    color: #000;
  }

  .ce-toolbar__settings-btn,
  .ce-toolbar__plus {
    color: rgb(124, 124, 124);
  }

  .ce-inline-toolbar {
    color: #000;
  }
}

.tut {
  animation: tutbounce 1.5s ease-in-out infinite;
  padding: 10px;
  border-radius: 5px;
  background: #cbcbcb9d !important;
  text-decoration: underline;
  text-decoration-color: rgb(134, 176, 255);
  text-decoration-thickness: 2px;
  color: #fff !important;
}

@keyframes tutbounce {

  0%,
  100% {
    border: 2px solid rgb(255, 72, 72);
  }

  50% {
    border: 2px solid rgb(0, 247, 255);
  }
}

::selection {
  background-color: #ff47f3;
}

.Toastify__toast {
  border-radius: 10px !important;
}

.textLayer span::selection,
.textLayer br::selection {
  background-color: rgba(255, 23, 240, 0.611);
}

.react-pdf__Page__annotations,
.annotationLayer {
  display: none;
}

.react-pdf__Document {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.react-pdf__Page__canvas__first .react-pdf__Page__canvas {
  border-radius: 5px 5px 3px 3px;
}

.react-pdf__Page__canvas__last .react-pdf__Page__canvas {
  border-radius: 3px 3px 5px 5px;
}

.react-pdf__Page__canvas {
  border-radius: 3px;
}

.previewarning {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--background);
  font-weight: 600;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  user-select: none;
  pointer-events: none;
}

@media print {
  .ce-toolbar__content {
    display: none;
  }

  :root {
    --background: #ffffff !important;
    --editor_text: #000 !important;
    --boxshadow_primary: #f3f3f39e !important;
  }
}

.highlighted {
  background-color: yellow;
}