.container {
    width: 100%;
    height: 100dvh;
    background: #fff;
    color: #000;
    position: relative;
    overflow-y: scroll;
    display: grid;
    /* flex-direction: column; */
    justify-items: center;
}

.sections {
    max-width: 1500px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    background: #fff;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 60px;
    max-height: 100px;
}

.nav_links {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.nav_links a {
    font-weight: 500;
    color: #2e2e2e;
    font-size: 16px;
    padding: 0 0.5rem;
    font-family: "Heebo";

}

.nav_links a:hover {
    color: #141414;
}

.nav_button_main {
    border-radius: 4px;
    background: transparent;
    border: 1px solid #000;
    padding: 0.375rem 1rem;
    color: #000;
    font-size: 14px;
    line-height: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    font-family: "Heebo";
    display: flex;
    align-items: center;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;

}

.nav_button_main:hover {
    background: #000;
    color: #fff;
}




.section1 {
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section1 .title {
    font-family: "Signika";
    font-size: clamp(3vw, 48px, 8vw);
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 16px;
}

.section1 .center {
    width: 58%;
    text-align: center;
    padding: 10px;
    max-width: 738px;
}

.section1 .subtitle {
    font-family: "Heebo";
    color: #444444;
    font-weight: 400;
    line-height: 1.625;
    margin-bottom: 32px;
}

.button_s1 {
    background: #000;
    color: #fff;
    padding: 10px 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 6px;
    font-family: "Heebo";
    border: 1px solid #000;

}

.button_s1_invert {
    background: #ffffff;
    color: #000000;
    padding: 10px 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 6px;
    font-family: "Heebo";
    border: 1px solid #ffffff;

}





@font-face {
    font-family: "Heebo";
    font-display: swap;
    src: url("../fonts/Heebo-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Signika";
    font-display: swap;
    src: url("../fonts/Signika-VariableFont_GRAD\,wght.ttf");
}


/*Old styles*/



.footer {
    height: 20dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    scroll-snap-align: start;
    color: #202020;
    font-family: "Heebo";
}

.footer h5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.githublogo {
    width: 20px;
    height: 20px;
}

.githublogo path {
    fill: #000;
}


.section {
    min-height: 100dvh;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    z-index: 2;
}


.s2_title {
    text-align: center;
    color: #2a2a2a;
    font-family: "Inter Tight", "Inter", "Gotham", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 700;
    font-size: clamp(20px, 3vw, 40px);
    word-wrap: balance;
    z-index: 3;
    text-align: center;
    display: block;
    width: 100%;
    text-wrap: balance;
    font-style: italic;

}

.s2_answer_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    position: relative;
}

/*
.s2_answer_img::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 1em 1em 0.3em 0.3em;
    height: 70%;
    background: #fff;
    box-shadow: 0 0 7px #efefef;
}
*/
/*
.s2_answer_img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 9px;
    height: 40%;
    background: linear-gradient(180deg, white 30%, #ffffff00 90%);
    /* box-shadow: 0 0 7px #ebebeb; 
    opacity: 0.8;
}*/


.s2_answer_img img {
    width: 100%;
    object-fit: cover;
    border-radius: 9px;
    position: relative;
    z-index: 3;
    max-height: 600px;
    overflow: hidden;
    object-fit: contain;
}

.s2_question {
    text-align: center;
    color: #000;
    font-family: "Inter Tight", "Inter", "Gotham", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 800;
    font-size: clamp(32px, 3vw, 30px) !important;
    word-wrap: balance;
    z-index: 3;
    text-align: center;
    width: 100%;
    display: block;
    text-wrap: balance;
}


/* FeatureCardsSection */

.FeatureCardsSection {
    width: 100%;
    min-height: 100vh;
    padding: 2em;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding-top: calc(2em + 40px);
}

.FeatureCardsSection_title {
    text-align: left;
    color: #2a2a2a;
    font-family: "Inter Tight", "Inter", "Gotham", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 800;
    font-size: clamp(48px, 4vw, 80px);
    word-wrap: balance;
    z-index: 3;
    width: 100%;
    display: block;
    text-wrap: balance;
    text-align: center;
}

.FeatureCardsSection_cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1024px;
}

.FeatureCardsSection_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    min-height: 200px;
    padding: 1.8em;
    border-radius: 15px;
    max-width: 320px;
}

.FeatureCardsSection_card_title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.FeatureCardsSection_card_title svg {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    fill: #ffd700;
}

.FeatureCardsSection_card_title h4 {
    font-size: 20px;
}


/* CompBanner */
.CompBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 150px;
    color: #383838;
    font-family: "Inter Tight", "Inter", "Gotham", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 800;
    padding: 2em;
    text-wrap: balance;
    gap: 15px
}

.CompBanner_logos {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.CompBanner_logos a {

    display: flex;
    align-items: center;
}

.CompBanner_logos img {
    max-height: 50px;
    opacity: 0.7;
}

/* BigTextSection1 */

.BigTextSection1 {
    width: 100%;
    min-height: 50vh;
    padding: 2em;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding-top: calc(2em + 40px);
}

.BigTextSection1_box {
    background: #000;
    width: 100%;
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    border-radius: 10px;
    max-width: 1324px;

}

.BigTextSection1_title {
    text-align: center;
    color: #ffffff;
    font-family: "Inter Tight", "Inter", "Gotham", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 800;
    font-size: clamp(48px, 4vw, 80px);
    word-wrap: balance;
    z-index: 3;
    width: 100%;
    display: block;
    text-wrap: balance;
}

.BigTextSection1_text {
    font-size: 16px;
    font-family: "Inter Tight", "Inter", "Gotham", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #ebeaff;
    text-wrap: balance;
}

/* OpenSourseSection */
.OpenSourseSection {
    width: 100%;
    min-height: 100vh;
    padding: 2em;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding-top: calc(2em + 40px);
}

.OpenSourseSection_title {
    text-align: left;
    color: #2a2a2a;
    font-family: "Inter Tight", "Inter", "Gotham", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 800;
    font-size: clamp(48px, 4vw, 80px);
    word-wrap: balance;
    z-index: 3;
    width: 100%;
    display: block;
    text-wrap: balance;
    text-align: center;
}


.OpenSourseSection_cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1024px;
}

.OpenSourseSection_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    min-height: 200px;
    padding: 1.8em;
    border-radius: 15px;
    max-width: 320px;
}

.OpenSourseSection_card_title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.OpenSourseSection_card_title svg {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}

.OpenSourseSection_card_title h4 {
    font-size: 20px;
}


/* BuiltByAStudentSection */

.BuiltByAStudentSection {
    min-height: 100vh;
    width: 100%;
    padding: 2em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.BuiltByAStudentSection_title {
    text-align: left;
    color: #2a2a2a;
    font-family: "Inter Tight", "Inter", "Gotham", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 800;
    font-size: clamp(48px, 4vw, 80px);
    word-wrap: balance;
    z-index: 3;
    width: 100%;
    display: block;
    text-wrap: balance;
    text-align: center;
}

.BuiltByAStudentSection_text {
    font-family: "Heebo";
    color: #444444;
    font-weight: 400;
    line-height: 1.625;
    margin-bottom: 32px;
    font-size: 18px;
}

.BuiltByAStudentSection_pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    width: 100%;
    max-width: 1324px;
}

.BuiltByAStudentSection_pics_card {
    width: 400px;
    height: 220px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 0 7px #efefef;
    font-family: "Inter Tight", "Inter", "Gotham", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    position: relative;
}


.BuiltByAStudentSection_pics_card_img {
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    position: absolute;
    user-select: none;
    pointer-events: none;
}

.BuiltByAStudentSection_pics_card_text {
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    text-wrap: balance;
    text-align: center;
}

.BuiltByAStudentSection_pics_card_text span {
    background: #ffffff75;
    border-radius: 9px;
    padding: 3px 5px;
}

.BuiltByAStudentSection_pics_card_ref {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    opacity: 0.5;
    font-size: 6px;
    text-align: center;
    user-select: none;
}


/* BigInspSection */
.BigInspSection {
    min-height: 100vh;
    width: 100%;
    padding: 2em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: "Inter Tight", "Inter", "Gotham", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.BigInspSection_title {
    text-align: right;
    color: #2a2a2a;
    font-weight: 800;
    font-size: clamp(48px, 4vw, 80px);
    word-wrap: balance;
    z-index: 3;
    width: 100%;
    display: block;
    text-wrap: balance;
}

.BigInspSection_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.BigInspSection_text {
    font-size: 18px;
    line-height: 2.225;
    font-weight: 400;
    font-style: italic;
}

.BigInspSection_img {
    width: 100%;
    height: 100%;
}



@media(max-width: 600px) {



    .mobile_s2_title_sml {
        font-size: clamp(16px, 50vw, 34px);
        background: radial-gradient(circle, #2d72e2, #fd7fff);
        background-size: 200% auto;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }



    .s2_answer_img {
        width: 600px;
        padding: 0;
        overflow: hidden;
    }



    .section1 .center {
        width: 100%;
        padding: 16px;
    }

    .section1 .title {
        height: auto;
        width: 100%;
        text-align: center;
        font-size: 38px !important;
    }





    .nav {
        flex-direction: column;
        min-height: 78px;
        height: auto;
        max-height: none;
    }

    .nav_mobile_menu {
        background: none;
        border: none;
    }

    .nav_links {
        gap: 10px;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav_mobile_menu svg {
        width: 20px;
        height: 20px;
    }

    .nav_items_mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .nav_dropDown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding: 10px;
        background: #fff;
    }

    .nav_dropDown .nav_links {
        display: flex;
        flex-direction: column;
    }

    .FeatureCardsSection {
        padding: 1em;
    }

    .BigTextSection1 {
        padding: calc(2em + 40px) 0;
    }

    .BigTextSection1_box {
        border-radius: 0;
    }

    .CompBanner {
        text-align: center;
        ;
    }

    .BigTextSection1_text {
        text-align: center;
    }


    .BuiltByAStudentSection_text {
        text-align: center;
    }

    .BigInspSection_content {
        grid-template-columns: 1fr;
    }

    .BigInspSection_text {
        font-size: 16px;
    }
}