.container{
  min-height: 100dvh;
  
  /*background: radial-gradient(#7a5ad9, #FFF7EA);*/
}
.itemroot{
  background: #fffff9;
  padding: 1em;
  border-right: 1px solid #dfdfdf;
}
.itemscon{
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}
/*#active{
  color: red;
}
.active{
  color: red !important;
  font-size: 110%;
}*/
.btn1{
  background: none;
  border-radius: 5px;
  outline: none;
  border: none;
  fill: rgba(55, 53, 47, 0.35);
  display: flex;
  fill: rgba(55, 53, 47, 0.35);
  align-items: center;
  justify-content: center;
}
.btn1:hover{
  background: rgb(228, 228, 228);
  cursor: pointer;
}
.createpage{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #668F80;
  padding: 5px;
  /* width: fit-content; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  flex-direction: row;
  /* justify-self: flex-end; */
}
.createpage:hover{
  background: #f4f4f4;
}
.createpage svg:hover{
  background: rgb(228, 228, 228);
  border-radius: 5px;
  outline: none;
  border: none;
  fill: rgba(55, 53, 47, 0.35);
}
.createpage svg{
  outline: none;
  border: none;
  fill: rgba(55, 53, 47, 0.35);
}
.items{
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}
.items h1{
  font-size: smaller;
}
.items2{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    list-style-type: none;
}
.itemoption{
  background: inherit;
    padding: 5px 10px;
    width: -moz-fit-content;
    width: 100%;
    /* border: 1px solid gray; */
    display: flex;
    /* padding: 10px; */
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    color: #19171199;
    fill: rgba(55, 53, 47, 0.35);
    gap: 5px;
    cursor: pointer;
}
.itemoption svg:hover{
  background: rgb(228, 228, 228);
  border-radius: 5px;
}
.itemoption:hover{
  background: rgb(245, 245, 245);
}

.hidebtn{
  display: none;
  background: #FFC107;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #000;
}

.itemrootoff{
  position: fixed;
    z-index: 11;
    top: 0;
    /* left: 0; */
    background: none;
    border: none;
}

@media(max-width: 800px){
  .itemroot{
    margin-top: 9dvh;
  }
  .hidebtn{
    display: block;
  }
}