.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colorpicker {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
}

.colorpicker>input {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 56px;
    height: 56px;
    border: none;
}

.coloroptions {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.canvas {
    width: 300px;
}

.canvas>canvas {
    width: 100%;
}

.colorpickerwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: solid 2px #ddd;
    border-color: #3c366b;
    margin: 0 0.6rem;
}