.default_settings_modal_container {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    max-height: 100dvh;
}

.noblur{
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
}

.default_settings_modal_container_usrname_block {

    border-radius: 1em;
    padding: 2em;
    min-height: 10em;
    width: 30em;
    display: flex;

    z-index: 20;
    justify-content: flex-end;
    color: #000000;

    background: #ffffff;
    box-shadow: 5px 8px 5px 1px #9d9d9d;
    border: 2px solid #dfdfdf;
    
    position: relative;
}



.default_settings_modal_container_usrname_block form {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    justify-items: start;
    width: 100%;
}

.default_settings_modal_container_usrname_edit_form {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.2em;
}

.default_settings_modal_container_usrname_block form input {
    border: none;
    padding: 1em;
    border-radius: 0.5em;
    background: rgb(227, 227, 227);
    color: #000000;
    width: 100%;
    height: 100%;
    outline: none;
}

.default_settings_modal_container_usrname_block form input::placeholder {
    color: #8e8e8eb8;
}

.default_settings_modal_container_usrname_block form input:focus-visible {
    outline: 2px solid #4f4f4f;
}

.default_settings_modal_container_userinfopannel .default_settings_modal_container_usrname_block {
    margin: 0;
}



.default_settings_modal_container_usrclose_btn {
    position: absolute;
    background: none;
    border: none;
    margin: none;
}

.default_settings_modal_container_usrclose_btn svg {
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    fill: #000000;
}

.default_settings_modal_container_usrclose_btn svg:hover {
    fill: #333333;
}






.buttonred {
    background-color: #eb2323 !important;
}

.buttonred::after {
    background-color: #f63b3b !important;
}

.buttongreen {
    background-color: #1d926f !important;
}

.buttongreen::after {
    background-color: #3bb994 !important;
}

.buttongray {
    background-color: #4f4f4f !important;
}

.buttongray::after {
    background-color: #919191 !important;
}

.uploader .buttondefault {
    width: 100% !important;
    overflow: hidden;
}

.buttondefault {
    appearance: button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s, transform 0.3s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    min-width: 200px;
}

.buttondefault:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.buttondefault:main,
.buttondefault:focus {
    user-select: auto;
}

.buttondefault:hover:not(:disabled) {
    filter: brightness(1.1);
    transform: scale(1.02);
}

.buttondefault:disabled {
    cursor: not-allowed;
}

.buttondefault:active:after {
    border-width: 0 0 0px;
}

.buttondefault:active {
    padding-bottom: 10px;
}

.cbx{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.cbxlabel{
    font-size: 16px;
}


.chbxcontainer {
    cursor: pointer;
    display: flex;
}

.chbxcontainer input {
    display: none;
}

.chbxcontainer svg {
    overflow: visible;
    height: 1.5em;
}

.cbxpath {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

.chbxcontainer input:checked~svg .cbxpath {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}



.acc_button {
    background: #ffffff;
    outline: none;
    border: 2px solid #d0d0d0;
    border-radius: 20px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5%;
    justify-content: center;
    cursor: pointer;
    box-shadow: 4px 3px 4px 0px #e8e8e8;
    font-size: 13px;
  transition: 0.35s all;
  
  color: rgb(31, 31, 31);
  font-weight: 600;
  }
  
  .acc_button_red {
    outline: 3px #ff2d2d solid;
  }
  .acc_button svg {
    fill: #9c9c9c;
    transition: 400ms;
  }
  
  .acc_button:hover {
    background-color: #000000;
    color: #fff;
    /* border-color: #000; */
    /* border: 1px solid #000;*/
  }
  
  .acc_button:hover svg {
    fill: #ffffff;
  }
  


@media (prefers-color-scheme: dark) {



    .default_settings_modal_container_usrname_block {
        background: #1f1f1f;
        border: 3px solid #000;
        box-shadow: 5px 8px 5px 1px #000;
        color: #fff;
    }

    .default_settings_modal_container_usrname_block form input {
        background: rgb(34, 34, 34);
        color: #ffffff;
    }

    .acc_button {
        background: #353535;
        border: 2px solid #4f4f4f;
        box-shadow: 4px 3px 4px 0px #1c1c1c;
        color: rgb(149, 149, 149);
      }
    
      .acc_button_red {
        outline: 3px #ff2d2d solid;
      }
    
      .acc_button .acc_button_text {
        color: rgb(149, 149, 149);
      }
    
      .acc_button svg {
        fill: #9c9c9c;
      }
      .default_settings_modal_container_usrclose_btn svg{
        fill: #ffffff;
      }
      .default_settings_modal_container_usrclose_btn svg:hover {
        fill: #d3d3d3;
    }

}

@media(max-width: 800px) {
    .default_settings_modal_container {
        padding: 0;
    }

    .default_settings_modal_container_usrname_block {

        border: none;
        width: 100dvw;
        margin: 0;
        position: relative;
        height: 100dvh;
        display: flex;
        align-items: center;
        box-shadow: none;
        border-radius: 0;
        flex-direction: row;

    }

    .default_settings_modal_container_usrclose_btn{
        position: absolute;
        top: 2em;
        right: 2em;
    }

    .default_settings_modal_container_usrclose_btn svg{
        width: 2.5em;
        height: 2.5em;
    }
}





.loadercontainer {
    flex: 1 1 0%;
    height: 100dvh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    gap: 1dvh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background) !important;
  }
  
  .load1 {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   .load2 {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   
  
  @media(max-width: 800px) {
    .loadercontainer {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 98;
    }
  }