.modal_container {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    max-height: 100dvh;
}


.noblur {
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
}

.modal_container_layout {

    border-radius: 1em;
    padding: 2em;
    min-height: 10em;
    width: 30em;
    display: flex;

    z-index: 20;
    justify-content: flex-end;
    color: var(--modal_color-0-c42e25a8);

    background: var(--modal_color-1-ea5ca4f1);
    border: 2px solid var(--modal_color-3-42429cc0);

    position: relative;
}



.modal_container_layout .modalform {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    justify-items: start;
    width: 100%;
}

.default_modal_input {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.2em;
}

.modal_container_layout .modalform .input {
    border: none;
    padding: 1em;
    border-radius: 0.5em;
    background: rgb(227, 227, 227);
    color: var(--modal_color-0-c42e25a8);
    width: 100%;
    height: 100%;
    outline: none;
}

.modal_container_layout .modalform .input::placeholder {
    color: var(--modal_color-5-32f42df1)b8;
}

.modal_container_layout .modalform .input:focus-visible {
    outline: 2px solid var(--modal_color-6-42f923f0);
}

.default_settings_modal_container_userinfopannel .modal_container_layout {
    margin: 0;
}



.modal_close_button {
    position: absolute;
    background: none;
    border: none;
    margin: none;
}

.modal_close_button svg {
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    fill: var(--modal_color-0-c42e25a8);
}

.modal_close_button svg:hover {
    fill: var(--modal_color-7-0c0f90f8);
}


.uploader .default_modal_button {
    width: 100% !important;
    overflow: hidden;
}

.default_modal_button {
    appearance: button;
    background-color: var(--modal_color-13-228c15be);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: var(--modal_color-1-ea5ca4f1);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s, transform 0.3s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    min-width: 200px;
}

.default_modal_button:after {
    background-clip: padding-box;
    background-color: var(--modal_color-14-a7091aca);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.default_modal_button:main,
.default_modal_button:focus {
    user-select: auto;
}

.default_modal_button:hover:not(:disabled) {
    filter: brightness(1.1);
    transform: scale(1.02);
}

.default_modal_button:disabled {
    cursor: not-allowed;
}

.default_modal_button:active:after {
    border-width: 0 0 0px;
}

.default_modal_button:active {
    padding-bottom: 10px;
}

.cbxcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cbx {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px var(--modal_color-0-c42e25a8);
}

.cbx div {
    width: 60px;
    height: 60px;
    background-color: var(--modal_color-0-c42e25a8);
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.cbx .input[type=checkbox]:checked+div {
    left: -10px;
    top: -10px;
}

.cbx .input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.cbxtrans {
    transition: 300ms ease;
}





.secondary_modal_button {
    background: var(--modal_button_bg);
    outline: none;
    border: var(--modal_button_border);
    border-radius: 10px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5%;
    justify-content: center;
    cursor: pointer;
    /*box-shadow: 4px 3px 4px 0px var(--modal_color-17-4fcbb4ba);*/
    font-size: 13px;
    transition: 0.2s all;

    color: var(--modal_color-18-c8f98051);
    font-weight: 600;
}

.acc_button_red {
    outline: 3px var(--modal_color-19-8243e20a) solid;
}

.secondary_modal_button:hover {
    background-color: var(--modal_button_bg_hover);
    color: var(--modal_button_text_hover);
    /* border-color: var(--modal_color-0-c42e25a8); */
    /* border: 1px solid var(--modal_color-0-c42e25a8);*/
    box-shadow: 0px 0px 20px 0px var(--modal_button_bxshdw_hover);
}

.secondary_modal_button svg {
    transition: 0.2s all;
    fill: var(--modal_color-22-a09b1904);
}

.secondary_modal_button:hover svg {
    fill: var(--modal_button_text_hover);
}



@media (prefers-color-scheme: dark) {





    .cbx div {
        background-color: var(--modal_color-1-ea5ca4f1);
    }

    .cbx {
        box-shadow: 0px 0px 0px 2px var(--modal_color-1-ea5ca4f1);
    }

}

@media(max-width: 800px) {
    .modal_container {
        padding: 0;
    }

    .modal_container_layout {

        border: none;
        width: 100dvw;
        margin: 0;
        position: relative;
        height: 100dvh;
        display: flex;
        align-items: center;
        box-shadow: none;
        border-radius: 0;
        flex-direction: row;

    }

    .modal_close_button {
        position: absolute;
        top: 2em;
        right: 2em;
    }

    .modal_close_button svg {
        width: 2.5em;
        height: 2.5em;
    }
}


.copy_paste_textarea {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    padding: 10px;
    background: var(--big_button_background);
    color: var(--big_button_text);
    border-radius: 5px;
    border: 1px solid var(--big_button_border);
    text-decoration: underline;
    font-weight: 500;
}

.copy_paste_textarea>span {
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: copy;
}

.copy_paste_textarea>button {
    display: flex;
    justify-self: center;
    width: fit-content;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    fill: var(--big_button_text);
    border: none;
    background: none;
    user-select: none;
}




.loadercontainer {
    flex: 1 1 0%;
    height: 100dvh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    gap: 1dvh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--modal_color-29-93b283f1) !important;
}

.load1 {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

.load2 {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}


@media(max-width: 800px) {
    .loadercontainer {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 98;
    }
}