.nav_container{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #2c3e50;
    height: 7dvh;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}
.navitems{
    padding: 1.5em 3em;
    display: flex;
    
    /* width: fit-content; */
    gap: 1em;
    flex-direction: row;
    align-items: center;
    /* border-radius: 20em; */
    
}
.navitems_item{
    cursor: pointer;
    color: #FFC107;
    transition: 0.3s all;
}
.navitems_item:hover{
    color: #fff;
}

.navitems_useraccount{

}
