/* OHome.module.css */
.container {
  width: 100%;
  background: #fff;
}

/* Header styles */
.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 200%;
  scroll-snap-align: start;
  position: relative;
  background-color: hsla(0, 100%, 50%, 1);
  background-image:
    radial-gradient(at 40% 20%, hsla(220, 81%, 54%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(277, 100%, 81%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(260, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(199, 100%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
  background-repeat: no-repeat;
  animation: moveBackground 17s linear infinite;
  background-size: 600%;
}

@keyframes moveBackground {
  0%,100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}


.teaserimg {
  width: 80%;
  border: 3px solid #fff;
  border-radius: 25px;
  pointer-events: none;
  user-select: none;
  user-zoom: fixed;
}


.headerContent {
  text-align: center;
  height: 100%;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 15px #fff;

}

.headerContent h1 {
  font-family: "Mori", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-shadow: 0px 0px 10px var(--main_color);
  display: inline-block;
}

@keyframes rainbowAnimation {

  0%,
  100% {
    text-shadow: 0 0 3px red;
  }

  7%,
  93% {
    text-shadow: 5px 0 3px orange;
  }

  14%,
  86% {
    text-shadow: 10px 0 3px yellow;
  }

  21%,
  79% {
    text-shadow: 15px 0 3px green;
  }

  28%,
  71% {
    text-shadow: 20px 0 3px blue;
  }

  35%,
  64% {
    text-shadow: 25px 0 3px indigo;
  }

  42%,
  57% {
    text-shadow: 30px 0 3px violet;
  }

  50% {
    text-shadow: 35px 0 3px red;
  }
}




.subtitle {
  margin-bottom: 10px;
}



.title {
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  font-style: italic;
}

.Btn {
  font-weight: 900;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  color: rgb(0, 0, 0);
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  font-size: 20px;
  border-radius: var(--btn_border_radius);
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 300px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
  border-radius: var(--btn_border_radius);
}

.section2 h2,
.section4 h2,
.section3 h2 {
  font-family: "Gotham", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 800;
  font-size: 50px !important;
  word-wrap: balance;
}


.section3 {

  scroll-snap-align: start;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0em 0em 0em 5em;
  gap: 5em;
  margin-right: -100px;
  text-align: left;
}

.section4 {

  scroll-snap-align: start;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2em 5em;
  gap: 5em;
  text-align: right;
}


.section2 {
  scroll-snap-align: start;
  min-height: 180vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2em 5em;
  text-align: left;
  background-color: rgb(226, 146, 195);
  background-image: radial-gradient(at 77% 35%, rgb(183, 70, 195) 0px, transparent 50%), radial-gradient(at 46% 27%, rgb(202, 136, 226) 0px, transparent 50%), radial-gradient(at 98% 38%, rgb(247, 244, 197) 0px, transparent 50%), radial-gradient(at 58% 36%, rgb(47, 244, 228) 0px, transparent 50%), radial-gradient(at 59% 71%, rgb(211, 111, 122) 0px, transparent 50%), radial-gradient(at 3% 15%, rgb(232, 48, 198) 0px, transparent 50%), radial-gradient(at 22% 58%, rgb(243, 18, 89) 0px, transparent 50%);

  gap: 5em;
}

.section2_div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.bg {
  height: 70dvh;
  width: 100%;
  object-fit: cover;
  /*box-shadow: 0px 8px 7px 0px #e5e5e5;*/
  max-width: 30dvw;
}

.section3 h2,
.section4 h2 {
  color: var(--main_color);
}

.section3 p {
  color: #363636;
  font-size: 16px;
  font-weight: 600;
  text-wrap: balance;
  text-align: left;
}

.section2 p,
.section4 p {
  color: #363636;
  font-size: 16px;
  font-weight: 600;
  text-wrap: balance;
  text-align: left;
}


.section2 h2 {
  color: #fff;
}

.fcards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
  user-select: none !important;
  pointer-events: none;
}

.section2 .fcard {
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  transition: all 0.3s;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  min-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fcard span .fcard_icon {
  padding: 10px;
  border-radius: 10px;
  line-height: 0;
  background: rgba(186, 66, 255, 0.2);
  fill: #525252;
}

.fcard span {
  font-size: 16.8px;
  font-weight: 700;
  display: flex;
  gap: 10px;
  align-items: center;
}

.fcard .disclamer {
  font-size: 9px;
  text-align: left;
  font-weight: 500;
}



.section4 .fcard {
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  transition: all 0.3s;
  background-color: #fff;
  border-radius: 6px;
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  min-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section4 .fcard span,
.section4 .fcard p {
  flex-direction: row-reverse;
  text-align: right;
}

.section4 .fcard span .fcard_icon {
  background: rgba(66, 214, 255, 0.2);
}

.img1 {
  position: absolute;
  height: 100dvh;
  width: 100%;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px, 5px);
  transition-duration: .3s;
}



.footer {
  height: 20dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  scroll-snap-align: start;
  color: #202020;

}

.footer h5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.githublogo {
  width: 20px;
  height: 20px;
}

.githublogo path {
  fill: #000;
}





@media(max-width: 600px) {

  .section4 h2,
  .section2 h2,
  .section3 h2 {
    font-size: 25px !important;
  }

  .section4,
  .section2,
  .section3 {
    padding: 5em 2em;
    max-height: fit-content;
    min-height: 110dvh;
    margin-right: auto;
  }

  .section3,
  .section4,
  .section2 {
    flex-direction: column;
    gap: 20px;
  }

  .section2 {
    grid-template-columns: 1fr;
  }

  .bgvid {
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  .bg {
    height: 30%;
    max-width: 100%;
  }

  .stats {
    grid-template-columns: 1fr;
    height: 100%;
  }


  .headercon_2 {
    display: none;
  }

  .section4 .fcard span {
    justify-content: center;
  }

  .section4 h2{
    text-align: center;
  }

  .section4 .fcard p {
    text-align: center !important;
    text-wrap: balance;
  }
}