/* OHome.module.css */
.container {
  width: 100%;
  background: #fff;
}

/* Header styles */
.header {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 200%;
  scroll-snap-align: start;
  position: relative;
  background: linear-gradient(180deg, #00BCD4 60%, white 20%, white)
}



.headerContent {
  text-align: center;
  height: 100%;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(130px);
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 15px #fff;

}

.headerContent h1 {
  font-family: "Mori", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
  animation: rainbowAnimation 15s linear infinite;
  display: inline-block;
}

@keyframes rainbowAnimation {

  0%,
  100% {
    text-shadow: 0 0 3px red;
  }

  7%,
  93% {
    text-shadow: 5px 0 3px orange;
  }

  14%,
  86% {
    text-shadow: 10px 0 3px yellow;
  }

  21%,
  79% {
    text-shadow: 15px 0 3px green;
  }

  28%,
  71% {
    text-shadow: 20px 0 3px blue;
  }

  35%,
  64% {
    text-shadow: 25px 0 3px indigo;
  }

  42%,
  57% {
    text-shadow: 30px 0 3px violet;
  }

  50% {
    text-shadow: 35px 0 3px red;
  }
}




.subtitle {
  margin-bottom: 10px;
}



.title {
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  font-style: italic;
}

.Btn {
  font-weight: 900;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  color: rgb(0, 0, 0);
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  font-size: 20px;
  border-radius: 5px;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 300px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
  border-radius: 5px;
}

.sections {}

.section1 {
  scroll-snap-align: start;
  background-image: url('/static/hmpgimg2.png');
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.section1 h2 {
  background: linear-gradient(to right, #00ffd5, #8359ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 60px;
}

.section3 {

  scroll-snap-align: start;
  background: #fff;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2em;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 2em;
}

.bg {
  height: 70%;
  width: 100%;
  border-radius: 3em;
  object-fit: cover;
  box-shadow: 0px 8px 7px 0px #e5e5e5;
  max-width: 40dvw;
}

.section3 h2 {
  background: linear-gradient(to right, #9C27B0, #00BCD4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 60px;
}

.section2 {
  scroll-snap-align: start;
  background: #fff;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.section2 h2 {
  background: linear-gradient(to right, #FF9800, #E91E63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 60px;
}


.stats {
  width: 100%;
  height: 30dvh;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.stat {
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 13px 1px #f1f1f1;
  border-radius: 2em;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em;
  color: #000;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: all 0.3s;
}



.stat:hover {
  background: linear-gradient(310deg, #ffffff, #00BCD4);
  animation: statbg linear infinite 5s;
  background-size: 400% 400%;
  border-radius: 1em;
}

@keyframes statbg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.stat h1 {
  color: #73ff8b;
}


.img1 {
  position: absolute;
  height: 100dvh;
  width: 100%;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px, 5px);
  transition-duration: .3s;
}



.footer {
  height: 20dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  scroll-snap-align: start;
  color: #202020;

}

.footer h5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.githublogo {
  width: 20px;
  height: 20px;
}

.githublogo path {
  fill: #000;
}





.navcontainer {
  position: absolute;
  z-index: 99;
  top: 0;
  width: 100%;
}

.items {
  height: fit-content;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.items h1 {
  font-family: "Mori", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  text-shadow: 0px 0px 10px yellow;
}

.sign_Button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.2s;
  font-weight: bold;
  color: rgb(236, 236, 236);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.sign_Button:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
  border-radius: 1em;
}

.sign_Button:active {
  transform: scale(0.97);
}

.sign_hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.sign_hoverEffect div {
  background: rgb(222, 0, 75);
  background: linear-gradient(90deg, #0a70c482, #ae3bd74d, #35a7db66);
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.sign_Button:hover .sign_hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media(max-width: 600px) {

  .section1 h2,
  .section2 h2,
  .section3 h2 {
    font-size: 40px;
  }

  .section3 {
    flex-direction: column;
    gap: 20px;
  }

  .bg {
    height: 30%;
    max-width: 100%;
  }

  .stats {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .items h1, .headerContent h1{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}