/* OHome.module.css */
.container {
  width: 100%;
  background: #fff;
}

/* Header styles */
.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 200%;
  scroll-snap-align: start;
  position: relative;
  background-color: rgb(70, 55, 235);
  background-image: radial-gradient(at 99% 9%, rgb(243, 175, 225) 0px, transparent 50%), radial-gradient(at 36% 99%, rgb(249, 221, 241) 0px, transparent 50%), radial-gradient(at 51% 88%, rgb(237, 197, 151) 0px, transparent 50%), radial-gradient(at 34% 39%, rgb(210, 70, 105) 0px, transparent 50%), radial-gradient(at 54% 32%, rgb(52, 229, 134) 0px, transparent 50%), radial-gradient(at 41% 26%, rgb(238, 210, 195) 0px, transparent 50%), radial-gradient(at 47% 32%, rgb(251, 243, 251) 0px, transparent 50%);
  background-size: 600%;
}

@keyframes moveBackground {

  0%,
  100% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }
}


.teaserimg {
  width: 80%;
  border: 3px solid #fff;
  border-radius: 25px;
  pointer-events: none;
  user-select: none;
  user-zoom: fixed;
}


.headerContent {
  text-align: center;
  height: 100%;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 15px #fff;

}

.headerContent h1 {
  font-family: "Mori", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-shadow: 0px 0px 10px var(--main_color);
  display: inline-block;
}

@keyframes rainbowAnimation {

  0%,
  100% {
    text-shadow: 0 0 3px red;
  }

  7%,
  93% {
    text-shadow: 5px 0 3px orange;
  }

  14%,
  86% {
    text-shadow: 10px 0 3px yellow;
  }

  21%,
  79% {
    text-shadow: 15px 0 3px green;
  }

  28%,
  71% {
    text-shadow: 20px 0 3px blue;
  }

  35%,
  64% {
    text-shadow: 25px 0 3px indigo;
  }

  42%,
  57% {
    text-shadow: 30px 0 3px violet;
  }

  50% {
    text-shadow: 35px 0 3px red;
  }
}




.subtitle {
  margin-bottom: 10px;
}



.title {
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  font-style: italic;
}


.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}


.section2 h2,
.section4 h2,
.section3 h2 {
  font-family: "Inter", "Gotham", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 800;
  font-size: 50px !important;
  word-wrap: balance;
  text-shadow: 0 0 19px #fff;
}


.section3 {
  background: #1e1e1e;
  scroll-snap-align: start;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0em 0em 0em 5em;
  gap: 5em;
  margin-right: -100px;
  text-align: left;
}

.section4 {

  scroll-snap-align: start;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2em 5em;
  gap: 5em;
  text-align: right;
}


.section2 {
  scroll-snap-align: start;
  min-height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2em 5em;
  text-align: left;
  background: #eeeeee;
  gap: 5em;
}

.section2_div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  text-align: center;
}

.bg {
  height: 70dvh;
  width: 100%;
  object-fit: cover;
  /*box-shadow: 0px 8px 7px 0px #e5e5e5;*/
  max-width: 30dvw;
}

.section3 h2,
.section4 h2 {
  color: var(--main_color);
}

.section3 p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-wrap: balance;
  text-align: left;
  font-family: inherit
}

.section2 p,
.section4 p {
  color: #363636;
  font-size: 16px;
  font-weight: 600;
  text-wrap: balance;
  text-align: left;
  font-family: inherit
}


.section2 h2 {
  text-align: center;
  background: radial-gradient(circle, #8e2de2, #7fd6ff);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fcards {

  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
  user-select: none !important;
  pointer-events: none;
}

.fcarddual {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.section2 .fcard {
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  transition: all 0.3s;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  min-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fcard span .fcard_icon {
  padding: 10px;
  border-radius: 10px;
  line-height: 0;
  background: rgba(186, 66, 255, 0.2);
  fill: #525252;
}

.fcard span {
  font-size: 16.8px;
  font-weight: 700;
  display: flex;
  gap: 10px;
  align-items: center;
}

.fcard .disclamer {
  font-size: 9px;
  text-align: left;
  font-weight: 500;
}



.section4 .fcard {
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  transition: all 0.3s;
  background-color: #fff;
  border-radius: 6px;
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  min-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section4 .fcard span,
.section4 .fcard p {
  flex-direction: row-reverse;
  text-align: right;
}

.section4 .fcard span .fcard_icon {
  background: rgba(66, 214, 255, 0.2);
}

.img1 {
  position: absolute;
  height: 100dvh;
  width: 100%;
}

.Btn {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.5s all;
}

.Btn::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s all;
}

.Btn:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
  transition: 0.5s;
}

.Btn:hover {
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
  transition: 0.5s all;
}



.footer {
  height: 20dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  scroll-snap-align: start;
  color: #202020;

}

.footer h5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.githublogo {
  width: 20px;
  height: 20px;
}

.githublogo path {
  fill: #000;
}





@media(max-width: 600px) {

  .section4 h2,
  .section2 h2,
  .section3 h2 {
    font-size: 25px !important;
  }

  .fcarddual {
    grid-template-columns: 1fr;
  }

  .section4,
  .section2,
  .section3 {
    padding: 5em 2em;
    max-height: fit-content;
    min-height: 110dvh;
    margin-right: auto;
  }

  .section3,
  .section4,
  .section2 {
    flex-direction: column;
    gap: 20px;
  }

  .section2 {
    grid-template-columns: 1fr;
  }

  .bgvid {
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  .bg {
    height: 30%;
    max-width: 100%;
  }

  .stats {
    grid-template-columns: 1fr;
    height: 100%;
  }


  .headercon_2 {
    display: none;
  }

  .section4 .fcard span {
    justify-content: center;
  }

  .section4 h2 {
    text-align: center;
  }

  .section4 .fcard p {
    text-align: center !important;
    text-wrap: balance;
  }

  .title {
    font-size: 40px;
  }
}