.container {
  min-height: 100dvh;

  /*background: radial-gradient(#7a5ad9, #FFF7EA);*/
}

.itemroot {
  background: #fff;
  padding: 1em;
  border-right: 1px solid #dfdfdf;
  max-height: 100dvh;
  overflow: scroll;
  width: 300px;
  opacity: 1;
  transition: 1s all ease-in-out;
  position: relative;
}

.itemroot::-webkit-scrollbar {
  display: none;
}

.itemscon {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

/*#active{
  color: red;
}
.active{
  color: red !important;
  font-size: 110%;
}*/


.btn1 {
  background: none;
  border-radius: 5px;
  outline: none;
  border: none;
  fill: rgba(55, 53, 47, 0.35);
  display: flex;
  fill: rgba(55, 53, 47, 0.35);
  align-items: center;
  justify-content: center;
}

.btn1:hover {
  background: rgb(228, 228, 228);
  cursor: pointer;
}

.createpage_txt {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #668F80;
  padding: 5px;
  /* width: fit-content; */
  border-radius: 5px;
  font-size: 12px;
  flex-direction: row;
  margin-left: 15%;
  /* justify-self: flex-end; */
}

.createpage {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #668F80;
  /*padding: 5px;*/
  /* width: fit-content; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  flex-direction: row;
  /* justify-self: flex-end; */
}

.createpage:hover {
  background: #f4f4f4;
}

.createpage svg:hover {
  background: rgb(228, 228, 228);
  border-radius: 5px;
  outline: none;
  border: none;
  fill: rgba(55, 53, 47, 0.35);
}

.createpage svg {
  outline: none;
  border: none;
  fill: rgba(55, 53, 47, 0.35);
}

.createrootpage {
  padding: 5px;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.items h1 {
  font-size: smaller;
}

.items2 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  list-style-type: none;
}

.itemoption {
  background: inherit;
  padding: 6px;
  width: -moz-fit-content;
  width: 100%;
  /* border: 1px solid gray; */
  display: flex;
  /* padding: 10px; */
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  color: #19171199;
  fill: rgba(55, 53, 47, 0.35);
  gap: 5px;
  cursor: pointer;
  margin: 1px;
  transition: 0.1s all ease-in;
}

.itemoption svg:hover {
  background: rgb(228, 228, 228);
  border-radius: 5px;
}

.itemoption:hover {
  background: rgb(245, 245, 245);
}

.active {
  background: #cecece1a;
}

#active {
  background: #ababab6e;
}


.mobilePageNav,
.hidemenubtn,
.mobile_back_btn {
  display: none;
}

.importantnote {
  list-style-type: none;
  padding-bottom: 10px;
}

.pushpinImportantNote{
  transform: rotate(320deg);
}

.desktophidemenu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  transform: rotate(180deg);
  background: none;
  fill: #767676;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
}

.desktophidemenu:hover {
  fill: #8f8f8f;
  background: rgb(51, 51, 51);
  border-radius: 5px;

}

.dskhidden .desktophidemenu {
  position: fixed;
  top: 10px;
  left: 10px;
  right: auto;
  transform: rotate(0deg);
}

.dskhidden {
  width: 0;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
  border-right: none;
}

@media (prefers-color-scheme: dark) {

  .itemroot {
    background: radial-gradient(#202020, #141414);
    border-right: none;
    box-shadow: 10px 0px 13px 2px #191919;
  }

  .btn1 {
    background: none;
    fill: rgba(255, 255, 255, 0.35);
  }

  .btn1:hover {
    background: rgb(51, 51, 51);
  }

  .createpage:hover {
    background: #242424;
  }

  .createpage svg:hover {
    background: rgb(34, 34, 34);
    fill: rgba(255, 255, 255, 0.35);
  }

  .createpage svg {
    fill: rgba(255, 255, 255, 0.35);
  }

  .itemoption {
    background: inherit;
    color: #ffffff99;
    fill: rgba(55, 53, 47, 0.35);
  }

  .itemoption svg:hover {
    background: none;
  }

  .itemoption:hover {
    background: rgb(0, 0, 0);
  }

  .hidemenubtn {

    fill: #767676 !important;
  }

  .active {
    background: #0000001a;
  }

  #active {
    background: #2e2e2e6e;
  }
  @media(max-width: 800px){
    .itemroot{
      background: #242424de;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    }
  }
}

@media(max-width: 800px) {
  .desktophidemenu {
    display: none;
  }

  .dskhidden {
    transform: translateX(-110%);
    filter: blur(3px);
    -webkit-filter: blur(3px);
    width: auto;
    padding: inherit;
  }

  .itemroot {
    padding: 1em;
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 99;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .mobilePageNav {
    display: flex;
    flex-direction: row;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
    height: fit-content;
    background: #1d1d1d83;
    align-items: center;
    justify-content: space-between;
  }

  .itemscon {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
  }

  .mobile_back_btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2px 5px;
    gap: 3px;
    background: #fafafa;
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    color: #03a9f4;
    fill: #03a9f4;
    cursor: pointer;

  }

  .itemoption {
    font-size: 21px;
  }

  .hidemenubtn {
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2px 5px;
    gap: 3px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    fill: #03a9f4;
    right: 1em;
    top: 1em;
  }

  .burger {
    display: block;
  }
}

.load1con {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100dvh;
}

.load1 {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.load2 {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}