.button:hover {
    background: #00000024;
}

.button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: #292929;
    padding: 3px 5px;
    border-radius: 5px;
}

.button svg {
    width: 16px;
    height: 16px;
}

.itemcon {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    justify-content: center;
}

.items {
    /* transform: scale(100%); */
    padding: .5em 1em;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    width: fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    gap: 5px;
    background: #fffffffa;
    box-shadow: 0 36px 89px rgb(0 0 0/4%), 0 23.3333px 52.1227px rgba(0, 0, 0, .03), 0 13.8667px 28.3481px rgba(0, 0, 0, .024), 0 7.2px 14.4625px rgb(0 0 0/2%), 0 2.93333px 7.25185px rgba(0, 0, 0, .016), 0 0.666667px 3.50231px rgba(0, 0, 0, .01);
    align-items: center;
    justify-content: space-evenly;
}

.itembreak {
    width: 2px;
    height: 16px;
    background: #ebebeb;
    margin: 0 5px;
}