.button:hover{
    background: #00000024;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    fill: var(--modal_button_text);
    padding: 3px 5px;
    border-radius: 5px;
}
.itemcon{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    justify-content: center;
}
.items{
    padding: 0.5em 2em;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    width: 150px;
    min-width: fit-content;
    gap: 5px;
    background: var(--modal_button_bg);
    box-shadow: 0px 0px 5px 0px #939393;
    align-items: center;
    justify-content: space-evenly;
}

.itembreak{
    width: 2px;
    height: 70%;
    background: #343434;
    margin: 0 5px;
}
