.container {}

.backdrop_trigger {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100svh;
    z-index: 10;
    user-select: none;
}

.popup {
    position: fixed;
    background: var(--popup_background);
    box-shadow: 0px 36px 89px rgb(0 0 0/4%), 0px 23.3333px 52.1227px rgba(0, 0, 0, .03), 0px 13.8667px 28.3481px rgba(0, 0, 0, .024), 0px 7.2px 14.4625px rgb(0 0 0/2%), 0px 2.93333px 7.25185px rgba(0, 0, 0, .016), 0px 0.666667px 3.50231px rgba(0, 0, 0, .01);

    z-index: 11;
    border-width: 1px;
    border-radius: calc(0.5rem + 4px);
    padding: 1.5rem;
    animation: popin 0.35s 1 ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    min-width: 200px;
    min-height: 200px;
    height: fit-content;
    color: var(--modal_text_color);
}

.popup h1 {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: -.025em;
    line-height: 1;
    color: var(--modal_text_color);
}

@media(max-width: 640px) {
    .popup {
        width: 100svw !important;
        bottom: 0 !important;
        top: auto !important;
        left: 0 !important;
        right: 0 !important;
        border-radius: calc(0.5rem + 4px) calc(0.5rem + 4px) 0 0;
    }
}

.pagebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    height: 30px;
    border-radius: calc(0.5rem - 2px);
    border: none;
    cursor: pointer;
    background: #F4F4F5;
    color: #09090B;
    padding: 8px 16px;
    font-weight: 500;
    font-family: sans-serif;
}

.pagebtn_dark {
    background: #000;
    color: #fff;
}

.pagebtn:disabled {
    opacity: 0.2;
}

.pagebtn:disabled:active {
    background: #F4F4F5;
}

.pagebtn:active {
    transition: 0.1s all;
    background: #e8e8e8;
}