.tabbar {
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--modal_background);
    z-index: 11;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.tabbaritem {
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    width: 200px;
    display: grid;
    color: var(--modal_button_text);

    grid-template-columns: 1.5fr 7.5fr 1fr;
    padding: 5px 10px;
    align-items: center;
    cursor: pointer;
    gap: 3px;
    overflow: hidden;
}

.tabbaritem_active {
    border-bottom: 2px solid var(--modal_button_text);
    color: var(--modal_button_text_hover);
    background: var(--modal_button_bg_hover);
    transition: 0.3s all;
    /*animation: tba_bg 1 0.2s ease;*/
}

@keyframes tba_bg {
    0% {
        background: linear-gradient(0deg, var(--modal_button_bg_hover) 0%, var(--modal_button_bg_hover) 0%, transparent 100%);
    }

    10% {
        background: linear-gradient(0deg, var(--modal_button_bg_hover) 10%, var(--modal_button_bg_hover) 10%, transparent 100%);
    }

    20% {
        background: linear-gradient(0deg, var(--modal_button_bg_hover) 20%, var(--modal_button_bg_hover) 20%, transparent 100%);
    }

    30% {
        background: linear-gradient(0deg, var(--modal_button_bg_hover) 30%, var(--modal_button_bg_hover) 30%, transparent 100%);
    }

    40% {
        background: linear-gradient(0deg, var(--modal_button_bg_hover) 40%, var(--modal_button_bg_hover) 40%, transparent 100%);
    }

    50% {
        background: linear-gradient(0deg, var(--modal_button_bg_hover) 50%, var(--modal_button_bg_hover) 50%, transparent 100%);
    }

    60% {
        background: linear-gradient(0deg, var(--modal_button_bg_hover) 60%, var(--modal_button_bg_hover) 60%, transparent 100%);
    }

    70% {
        background: linear-gradient(0deg, var(--modal_button_bg_hover) 70%, var(--modal_button_bg_hover) 70%, transparent 100%);
    }

    80% {
        background: linear-gradient(0deg, var(--modal_button_bg_hover) 80%, var(--modal_button_bg_hover) 80%, transparent 100%);
    }

    90% {
        background: linear-gradient(0deg, var(--modal_button_bg_hover) 90%, var(--modal_button_bg_hover) 90%, transparent 100%);
    }

    100% {}
}

.tabbaritemicon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tabbaritememoji {
    display: flex;
}

.tabbaritememoji img {
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.tabbaritemname {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}