.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    user-select: auto;
    pointer-events: none;
}

.hidden {
    display: none;
    animation: terminalfallin 0.2s 1 ease;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.terminal {
    --text: #1b1b1b;
    color: var(--text);
    min-width: 500px;
    min-height: 300px;
    max-height: calc(98vh - 1em);
    width: 600px;
    height: 350px;
    background: #ffffffdb;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    margin-top: 1em;
    border-radius: 0.5rem;
    box-shadow:
        2.8px 2.8px 2.2px -54px rgba(0, 0, 0, 0.07),
        6.7px 6.7px 5.3px -54px rgba(0, 0, 0, 0.05),
        12.5px 12.5px 10px -54px rgba(0, 0, 0, 0.042),
        22.3px 22.3px 17.9px -54px rgba(0, 0, 0, 0.035),
        41.8px 41.8px 33.4px -54px rgba(0, 0, 0, 0.028),
        100px 100px 80px -54px rgba(0, 0, 0, 0.02);
    animation: terminalfallin 0.3s 1 ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    user-select: auto;
    resize: both;

}

@keyframes terminalfallin {
    0% {
        transform-origin: center;
        transform: scale(0);
        opacity: 0.3;
        overflow: hidden;
        display: flex;
        border-radius: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        overflow: hidden;
        display: flex;
        border-radius: 0.5rem;
    }
}

.terminalHeader {
    width: 100%;
    box-shadow: rgba(55, 53, 47, 0.09) 0px 1px 0px;

    padding: 10px 16px 10px 12px;
    pointer-events: auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    height: 48px;
    gap: 7px;
    position: relative;
}

.terminalHeader span {
    color: var(--text);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;

}

.searchPagesInput {
    width: 100%;
    background: none;
    border: none;
    height: 100%;
    color: #202020;
    outline: none;
    font-size: 14px;
    font-family: sans-serif;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
}

.terminalBody {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    padding: 5px;
    pointer-events: auto;
    user-select: auto;
    gap: 5px;
}

.terminalBody::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 0;
}

.terminalBody::-webkit-scrollbar-thumb {
    background: #D3D1CB;
    border-radius: 0;
}

.terminalBody::-webkit-scrollbar-track {
    background: #EDECE9;
}

.terminalItem {
    --item_text: #282828;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 37px;
    color: #fff;
    border-radius: calc(0.5rem - 2px);
    cursor: pointer;
    padding: 10px 12px;
    color: var(--item_text);
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    gap: 5px;
    position: relative;
}

.terminalItem:hover {
    background: #b4b4b47d;
}

.terminalItem_hovericon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 10px;
}

.terminalItem:hover .terminalItem_hovericon {
    display: flex;
}

.terminalItem icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.quickmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    pointer-events: auto;
    user-select: auto;
    gap: 5px;
    overflow-x: scroll;
}

.quickmenuItem {
    font-family: sans-serif;
    transition: background 20ms ease-in 0s;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 32px;
    height: 24px;
    line-height: 24px;
    padding: 0px 8px;
    border: 1px solid rgba(55, 53, 47, 0.16);
    color: rgba(55, 53, 47, 0.65);
    gap: 5px;
}

.quickmenuItem svg {
    width: 12px;
    height: 12px;
    color: rgba(55, 53, 47, 0.65);
}

.quickmenuItem_selected {
    background: #e4e4e4;
}

.terminalFooter {
    display: flex;
    align-items: center;
    line-height: 120%;
    width: 100%;
    min-height: 28px;
    font-size: 12px;
    color: rgba(55, 53, 47, 0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: rgba(55, 53, 47, 0.09) 0px -1px 0px;
    margin-top: 1px;
    flex-direction: row;
    font-size: 14px;
    padding: 0 12px 0 16px;
    gap: 15px;
}

.terminalFooter>a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.terminalFooter>a>svg {
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}