.container {

    position: fixed;
    min-width: 300px;
    width: 300px;
    bottom: 0;
    left: 0;
    display: flex;
    background: var(--background);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 0em 1em;
    height: 70px;
    color: var(--user_option_text);
    border-top: 1px solid var(--userinfo_section_bordertop);

    /*transition: 0.5s all ease-in-out;*/
    overflow: hidden;
}





.icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icons .icon svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: var(--user_option_text);
}

.icons .icon {
    display: flex;
}

.usricon {
    display: flex;

}

.usricon img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.usricon svg {
    fill: #707684;
}


@media(max-width: 800px) {
    .container {
        width: 100%;
        transition: none;
    }
}